table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
   
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: rgb(255, 205, 251);
    color: black;
  }